// Nav Bottom ************************************************
.nav-bottom {
  height: 85px;
  display: flex;
  width: 100%;
  background-color: var(--bg-root);
  justify-content: center;
  align-items: center;

  .nav-bottom-item {
    width: var(--widthdefault);
    display: flex;
    align-items: center;
    justify-content: space-around;

    .nav-bottom-logo-img {
      width: 120px;
      height: 50px;
      display: block;

      .shopee-logo {
        width: 100%;
        color: white;
      }
    }

    .nav-cart {
      display: flex;
      position: relative;
      justify-content: center;
      font-size: 2rem;
      color: white;
      align-items: center;
      cursor: pointer;

      .tippy-box {
        .tippy-content {
          width: 400px;
        }
      }

      .cart-lenght {
        position: absolute;
        color: red;
        background: white;
        width: 25px;
        height: 20px;
        top: -5px;
        right: -15px;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        border: 1px solid #b69292;
      }
    }
  }
}
