/* Mobile: */
@media screen and (max-width: 739px) {
}

/* Tablet */
@media screen and (min-width: 740px) and (max-width: 1023px) {
  .products-page-detail {
    max-width: 1023px;
    .products-page-detail-container {
      width: 98%;
      padding: 0;
      .products-page-detail-wrap {
        .products-page-detail-info {
          width: 60%;
        }
      }
    }
  }
}
/* Destop/PC */
@media screen and (min-width: 1024px) {
}
