.products-page-detail {
  width: 100%;
  display: flex;
  justify-content: center;

  .products-page-detail-container {
    width: var(--widthdefault);
    background: var(--bg-primary);
    padding: 1rem;

    .products-page-detail-wrap {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .products-page-detail-img {
        width: 40%;

        img {
          width: 100%;
        }
      }

      .products-page-detail-info {
        width: 60%;

        .products-page-detail-name {
          font-size: 20px;
        }
      }
    }
  }
}
