.flashsalepage-container {
  margin-top: 8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  background: var(--gb-all);
  flex-direction: column;
  align-items: center;

  .flashsalepage-countdown {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    background: var(--bg-primary);

    .flashsalepage-countdown-wrap {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: var(--widthdefault);
      justify-content: center;

      .flashsalepage-img {
        width: 8rem;
        margin: 0 1rem;
      }

      .flashsalepage-title {
        color: var(--color-black);
        font-weight: 100;
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .flashsalepage-icon {
          margin: 0 0.2rem;
        }

        .timer {
          margin: 0 1rem;

          .timebox {
            background-color: var(--color-black);
            color: white;
            margin: 0.2rem;
            padding: 2px;
            border-radius: 5px;
          }
        }
      }
    }
  }

  .flashsalepage-wrap {
    width: var(--widthdefault);
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    margin: 1rem 0;

    .flashsalepage-item {
      width: 100%;
      background: var(--bg-primary);
      transition: transform 0.5s;

      &:hover {
        cursor: pointer;
        transform: translateY(-4px);
      }

      .flashsalepage-img-wrap {
        width: 100%;
        padding: 5px;

        .flashsalepage-img {
          width: 100%;
          height: min(280px);
          object-fit: cover;
        }
      }

      .flashsalepage-info {
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 10px;
        margin: 1rem 0;
        color: var(--bg-root);
        position: relative;

        .flashsalepage-name {
          font-size: 18px;
          text-transform: capitalize;
          height: 50px;
          max-height: 50px;
          overflow: hidden;
          color: black;
          padding: 0 5px;
        }

        .flashsalepage-rating {
          color: var(--bg-root);
        }
        .flashsalepage-price-wrap {
          display: flex;
          width: 90%;

          .flashsalepage-price {
            font-size: 15px;
            opacity: 0.5;
            color: black;
            text-decoration: line-through;
          }

          .flashsalepage-selloff-wrap {
            display: flex;
            background: var(--flashsale-bg);
            align-items: center;
            margin-left: 5px;

            .flashsalepage-selloff {
              color: var(--bg-root);
            }
          }
        }

        .flashsalepage-selloff-price {
          width: 100%;
          font-size: 1.3rem;
          display: flex;
        }
      }

      .flashsalepage-btnbuy {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 6rem;
        height: 2.5rem;
        background-color: red;
        color: white;
        font-size: 18px;
        margin: 0 1rem 0 0;
      }
    }
  }
  .flashsalepage-btn {
    width: 15%;
    height: 3rem;
    border: 1px solid rgb(231, 227, 227);
    border-radius: 10px;
    margin: 1rem 0;
    background-color: rgb(231, 227, 227);
    transition: 1s;

    &:hover {
      cursor: pointer;
      background-color: rgb(240, 228, 228);
    }
  }
}
