.cart-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background: var(--gb-all);

  .cart-container-wrap {
    width: var(--widthdefault);
    display: flex;
    flex-direction: column;
    position: relative;

    //Cart Empty Css
    .cart-item-empty {
      width: 100%;
      height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .cart-item-empty-img {
        width: 6rem;
        height: 6rem;
        .img-noproduct {
          width: 100%;
        }
      }

      .cart-item-empty-text {
        margin: 1rem 0 0;
        font-size: 1rem;
        opacity: 0.6;
      }

      .cart-item-empty-btn {
        button {
          width: 100%;
          height: 2rem;
          padding: 0 3rem;
          background: red;
          color: white;
          font-size: 16px;
          margin-top: 1rem;
        }
      }
    }

    //Cart Item Css
    .cart-head-freeship {
      width: 100%;
      height: 2.5rem;
      border: 1px solid #ffa50054;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 1rem 0;
      padding: 0 1rem;
      background: white;

      svg {
        color: rgb(69, 184, 82);
        font-size: 1.5rem;
        margin-right: 0.5rem;
      }
    }

    .cart-head-liveaction {
      width: 100%;
      height: 3rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background: white;
      margin: 0 0 1rem 0;

      .cart-head-liveaction-title {
        width: 35%;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 1rem;
        opacity: 0.7;
      }

      .cart-head-liveaction-item {
        width: 65%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        opacity: 0.7;
      }
    }

    // Css cho sản phẩm
    .cart-item {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: var(--bg-primary);
      padding: 1rem;
      border: 1px solid #dbd0d0;

      .cart-item-link {
        width: 30%;
        overflow: hidden;

        .cart-item-wrap {
          width: 100%;
          display: flex;
          color: black;

          .cart-item-img {
            width: 80px;

            img {
              width: 100%;
            }
          }
          .cart-item-name-item {
            width: 70%;
            overflow: hidden;
            padding: 0 0.5rem;
          }
        }
      }
      .cart-item-content {
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .cart-item-price-wrap {
          display: flex;
          width: 20%;

          .cart-item-price-old {
            text-decoration: line-through;
            opacity: 0.7;
            padding-right: 1rem;
          }
        }

        .cart-item-quantity {
          .chakra-stack {
            gap: 0;
            border: 1px solid #00000026;
            outline: none;

            button {
              width: 2rem;
              height: 2rem;
              background: transparent;
            }

            .chakra-input {
              width: 3rem;
              height: 2rem;
              text-align: center;
              border: 1px solid #00000026;
            }
          }
        }

        .cart-item-total-wrap {
          color: var(--color-red);
        }

        .cart-item-delete {
          .button-delete {
            background: transparent;
            color: var(--color-black);
            transition: 0.5s;

            &:hover {
              color: var(--color-red);
            }
          }
        }
      }
    }

    // Css Bill
    .cart-itemTotal {
      width: 100%;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 1rem 0;
      background: white;
      padding: 0 1rem;

      .cart-item-total-price {
        font-size: 17px;

        .lengthCart {
          color: var(--color-red);
        }

        .totalCart {
          font-size: 22px;
          color: var(--color-red);
        }
      }

      .button-checkout {
        width: 20%;
        height: 2.5rem;
        background: red;
        color: white;
        font-size: 16px;
        margin: 0 0 0 1rem;

        &:hover {
          background: rgb(228, 110, 110);
        }
      }
    }

    //Button clear cart
    .button-clear {
      margin: 1rem;
      padding: 0.5rem;
      border: 1px solid;
      width: 20%;
      color: var(--color-red);
    }
  }
}

.overlay-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 30%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;

  .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    svg {
      font-size: 3rem;
      color: var(--color-prime);
      margin: 1rem 0;
    }
    p {
      font-size: 1.4rem;
      color: var(--bg-primary);
    }
  }
}
