.cart-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background: var(--gb-all);

  .cart-container-wrap {
    width: var(--widthdefault);
    display: flex;
    flex-direction: column;

    //Cart Empty Css
    .cart-item-empty {
      width: 100%;
      height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .cart-item-empty-img {
        width: 6rem;
        height: 6rem;
        .img-noproduct {
          width: 100%;
        }
      }

      .cart-item-empty-text {
        margin: 1rem 0 0;
        font-size: 1rem;
        opacity: 0.6;
      }

      .cart-item-empty-btn {
        button {
          width: 100%;
          height: 2rem;
          padding: 0 3rem;
          background: red;
          color: white;
          font-size: 16px;
          margin-top: 1rem;
        }
      }
    }

    //Cart Item Css
    .cart-head-freeship {
      width: 100%;
      height: 2.5rem;
      border: 1px solid #ffa50054;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 1rem 0;
      padding: 0 1rem;
      background: white;

      svg {
        color: rgb(69, 184, 82);
        font-size: 1.5rem;
        margin-right: 0.5rem;
      }
    }

    .cart-item {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: var(--bg-primary);
      padding: 1rem;
      border: 1px solid #dbd0d0;

      .cart-item-wrap {
        width: 30%;
        display: flex;

        .cart-item-img {
          width: 80px;

          img {
            width: 100%;
          }
        }
        .cart-item-name-item {
          width: 70%;
          overflow: hidden;
          padding: 0 0.5rem;
        }
      }

      .cart-item-content {
        width: 70%;
        display: flex;
        justify-content: space-evenly;
      }
    }

    //Button clear cart
    .button-clear {
      margin: 1rem;
      padding: 0.5rem;
      border: 1px solid;
      width: 20%;
    }
  }
}
