.tippy-content {
  background-color: white;
  border: 1px solid rgb(212, 203, 203);
  color: black;

  .nav-dropdown {
    text-transform: capitalize;

    ul {
      list-style: none;

      li {
        padding: 10px 0;

        a {
          text-decoration: none;
          color: black !important;
          font-size: 14px !important;

          &:hover {
            color: var(--color-prime) !important;
            background-color: rgba(255, 255, 255, 0.074) !important;
          }
        }
      }
    }
  }
}
