.slider-wrap {
  width: 100%;
  height: 235px;
  display: flex;
  justify-content: center;
  padding-top: 3rem;

  .slider-container {
    display: flex;
    width: var(--widthdefault);
    align-items: center;

    // Slider Carousel  ****************************
    .slider-carousel {
      width: 64%;

      .slider-content {
        .slick-slider {
          .slick-list {
            img {
              width: 100%;
            }
          }
        }
        .slick-dots {
          position: absolute;
          bottom: 0.5rem;

          .slick-active {
            color: var(--bg-root);
          }

          li button:before {
            font-size: 13px;
            color: rgb(255, 255, 255);
          }
        }
      }
    }

    // Slider ADS **************************************
    .slider-ads {
      width: 36%;

      .slider-ads-wrap {
        width: 100%;
        height: 235px;

        .slider-ads-container {
          height: 50%;

          .slider-ads-content {
            padding: 0.3rem;

            .slider-ads-img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

// Slider Bottom Wrap*************************************
.slider-bottom-wrap {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 3rem;

  .slider-bottom-wrap-all {
    width: var(--widthdefault);

    .slider-ads-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    // Slider Bottom *************************************
    .slider-bottom {
      .slider-bottom-content {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;

        .slider-bottom-container {
          width: calc(100% / 8);
          height: 150px;
          display: flex;
          flex-direction: column;
          align-items: center;
          flex-wrap: wrap;

          a {
            height: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: 0.5s;

            &:hover {
              cursor: pointer;
              translate: 0 -5px;
            }

            .slider-bottom-img {
              img {
                width: 45px;
              }
            }
            .slider-bottom-title {
              text-align: center;
              padding: 1rem;
              font-size: 13px;

              p {
                color: var(--color-black);
              }
            }
          }
        }
      }
    }
  }
}
