.categories-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--gb-all);
  padding-bottom: 1rem;
  padding-top: 1rem;

  .categories {
    width: var(--widthdefault);
    padding: 1rem 0;
    background: var(--bg-primary);

    .categories-title {
      padding: 0.5rem 0 0.5rem 1.5rem;

      h4 {
        color: rgba(0, 0, 0, 0.54);
        font-size: 1rem;
        font-weight: 500;
      }
    }
    .categories-slider {
      .categories-slider-wrap {
        .slider-container {
          .category-slider-wrap-all {
            width: 120px;
            height: 150px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .category-content {
              display: flex;
              flex-direction: column;
              align-items: center;
              border: 1px solid rgb(241, 238, 238);
              height: 100%;

              &:hover {
                box-shadow: 1px 1px 3px 0px rgb(219, 219, 219);
              }

              .category-slider-img {
                width: 100%;
                display: flex;
                justify-content: center;

                img {
                  width: 85px;
                }
              }
              p {
                font-size: 14px;
                text-align: center;
              }
            }
          }
          .slick-prev.slick-disabled:before,
          .slick-next.slick-disabled:before {
            opacity: 0;
          }
          .slick-prev {
            width: auto;
            height: auto;
            z-index: 9;

            &:before {
              font-size: 3rem;
              position: relative;
              color: red;
            }
          }
          .slick-next {
            width: auto;
            height: auto;
            z-index: 9;

            &:before {
              font-size: 3rem;
              position: relative;
              color: red;
            }
          }
        }
      }
    }
  }
}
