* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Chrome, Edge and Safari Srollbar Styling */
*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
*::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: #eaeaea;
}

*::-webkit-scrollbar-track:hover {
  background-color: #eaeaea;
}

*::-webkit-scrollbar-track:active {
  background-color: #eaeaea;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #156eff;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #4900ff;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #4900ff;
}
