* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica";
}
a {
  text-decoration: none !important;
}

li {
  list-style: none;
}

// /* Chrome, Edge and Safari Srollbar Styling */
// *::-webkit-scrollbar {
//   height: 5px;
//   width: 5px;
// }
// *::-webkit-scrollbar-track {
//   border-radius: 3px;
//   background-color: #eaeaea;
// }

// *::-webkit-scrollbar-track:hover {
//   background-color: #eaeaea;
// }

// *::-webkit-scrollbar-track:active {
//   background-color: #eaeaea;
// }

// *::-webkit-scrollbar-thumb {
//   border-radius: 10px;
//   background-color: #156eff;
// }

// *::-webkit-scrollbar-thumb:hover {
//   background-color: #4900ff;
// }

// *::-webkit-scrollbar-thumb:active {
//   background-color: #4900ff;
// }

:root {
  --bg-root: #ee4d2d;
  --bg-primary: #ffffff;
  --gb-all: #efebebc7;
  --color-red: #ff0000;
  --color-black: #000000;
  --color-prime: #00bfa5;
  --flashsale-bg: rgb(255, 251, 0);
  --btn-background: #909090;
  --setting-margintop: 2rem;
  --paddingtop-layout: 8rem;
  --paddingtop-route: 1rem;
  --paddingtop-content: 3rem;
  --widthdefault: 1200px;
  --borderbottomred: 4px solid red;
  --setingpage-width: 95%;
}
.center-item-flex {
  display: flex;
  justify-content: center;
}

.w30 {
  width: 30%;
}
.w50 {
  width: 50%;
}
.w20 {
  width: 20%;
}
