* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}
a {
  text-decoration: none !important;
}

li {
  list-style: none;
}

p {
  margin-top: 0 !important;
}

*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
*::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #eaeaea;
}

*::-webkit-scrollbar-track:hover {
  background-color: #eaeaea;
}

*::-webkit-scrollbar-track:active {
  background-color: #f2fcff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #a6a6a6;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #a6a6a6;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #a6a6a6;
}

:root {
  --bg-root: #ee4d2d;
  --bg-primary: #ffffff;
  --gb-all: #efebebc7;
  --color-red: #ff0000;
  --color-black: #000000;
  --color-prime: #00bfa5;
  --flashsale-bg: rgb(255, 251, 0);
  --btn-background: #909090;
  --setting-margintop: 2rem;
  --paddingtop-layout: 8rem;
  --paddingtop-route: 1rem;
  --paddingtop-content: 3rem;
  --widthdefault: 1200px;
  --borderbottomred: 4px solid red;
  --setingpage-width: 95%;
  --margin-detail-page: 1rem 0;
}
.center-item-flex {
  display: flex;
  justify-content: center;
}

.w30 {
  width: 30%;
}
.w50 {
  width: 50%;
}
.w20 {
  width: 20%;
}
.invalid {
  color: var(--color-red);
}
.invalid-input {
  border: 1px solid red;
  background: rgb(250, 224, 224);
}
.scroll-to-top-btn {
  color: var(--bg-root);
  width: 3rem;
  height: 3rem;
  position: fixed;

  .icon-up {
    font-size: 3rem;

    svg {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background: white;
    }
  }
}

.btn-cart {
  align-items: center;
  background-color: #f1b4bb2a;
  border-color: #d0011b;
  border-radius: 2px;
  border-style: solid;
  border-width: 0.8px;
  box-shadow: #00000008 0px 1px 1px 0px;
  color: #d0011b;
  display: flex;
  font-family: Helvetica Neue;
  font-size: 14px;
  justify-content: center;
  line-height: 16.8px;
  margin: 0px 15px 0px 0px;
  padding: 0px 20px;
  text-align: center;
  text-transform: capitalize;
}

.btn-buy {
  align-items: center;
  background-color: #d41830;
  border-radius: 2px;
  box-shadow: #00000017 0px 1px 1px 0px;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: Helvetica Neue;
  font-size: 14px;
  justify-content: center;
  line-height: 16.8px;
  margin: 0px 15px 0px 0px;
  padding: 0px 20px;
  text-align: center;
  text-transform: capitalize;
}
